*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.h2{
    color :azure
}

.navbar {
    background-color: black;
    height: 4rem;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: silver;
}
.navbar a:hover {
    text-decoration: underline;
}